.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 1rem;
}

.logo {
    flex: 0.65;
}

.navLinks {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    & > div {
        margin: 0 1rem;
    }
}