.agendaCol {
  padding: 1rem;
}

.title {
  text-align: center;
}

.card {
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.editCol {
  text-align: center;
  padding: 1rem;
}

.agendaBtnContainer {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.deleteTopicBtn {
  display: flex;
  justify-content: flex-end;

  & button {
    background-color: #e33737;
    
    &:hover {
      background-color: #fff;
      border: 1px solid #e33737;
      color:#e33737;
    }
  }
}